body {
  background-color: #006747;
}

.header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}